.chat-widget-section {
    max-width: 400px;
    margin: 0 auto;
    font-family: sans-serif;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.chat-widget-section h1 {
    color: rgba(200,124,255,0.9);
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0 0 0.6rem 0;
    font-size: 0.85rem;
    text-align: center;
}

.chat-widget-messages {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-Y: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #f9f9f9,
}

.chat-widget-section input {
    padding: 5px;
    border: 2px solid #8d4cbb;
    background: none;
    border-radius: 5px;
    color: white;
    outline: none;
}

.chat-widget-section input::placeholder {
    color: #bb6ef1
}


.chat-widget-section button {
    background-color: #c87cff;
    color: #000;
    font-size: 1.125rem;
    padding: 0.6rem;
}

.chat-widget-section button {
    background: linear-gradient(180deg, #c87cff, #541f9e);
    transform: translateX(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


@media screen and (max-width: 992px) {

    .chat-widget-section {
        display: none
    }
}

@media screen and (max-width: 768px) {

    .chat-widget-section {
        display: none
    }
}

