.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  /* padding: 4rem 2rem; */
  background: radial-gradient(circle at 20% 50%, rgba(100, 0, 150, 0.3), transparent 70%),
              radial-gradient(circle at 80% 50%, rgba(200, 100, 255, 0.2), transparent 70%),
              #000;
  overflow: hidden ;
}

.hero:hover {
  cursor: pointer;
}

/* Subtle motion lights (pseudo elements) */
.hero::before,
.hero::after {
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  filter: blur(150px);
  opacity: 0.5;
  animation: floatGlow 10s ease-in-out infinite alternate;
}

.hero::before {
  top: 20%;
  left: 10%;
  background: #7a00ff;
}

.hero::after {
  bottom: 10%;
  right: 15%;
  background: #c87cff;
}

@keyframes floatGlow {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(10, 0, 20, 0.9));
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  color: #fff;
}


.hero h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: rgba(200,124,255,0.9);
}

.hero h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #fff;
}

.hero .highlight {
  color: #c87cff;
  text-shadow: 0 0 15px rgba(200, 124, 255, 0.8);
}

.hero p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.85);
  line-height: 1.8;
}

/* Responsive */
@media (max-width: 990px) {
  .hero h1 {
    /* font-size: 2rem; */
    font-size: 1.7rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero h3 {
    font-size: 0.8rem;
  }
}
